@import url('https://fonts.googleapis.com/css2?family=Anton&family=EB+Garamond&family=Teko:wght@300&display=swap');

*{
    padding: 2px;
}
.logo{
    display: flex;
    gap: 1rem;
    align-items: center;

}
.title{
    font-family: 'Anton', sans-serif;
font-family: 'EB Garamond', serif;
font-family: 'Teko', sans-serif;
font-size:xx-large;
margin-top: 7px;
font: bold;

    
}
.navbar{
    display: flex;
    align-items: center;
    gap: 5px;
    border: solid grey ;
    border-radius: 50px;
  
}
.navbar div{
    padding: 5px;
    text-shadow: 2px 2px 5px gray;
}
.navbar button{
    margin-right: 10px;;
    background-color:crimson;
    border-radius: 30px;
    color: aliceblue;
    height: 2rem;
    width: 1.5rem;
}
.side_border{
    border-left: solid grey;

    
}
.navbar2{
    display: flex;
    align-items: center;
    gap: 10px;
}
.aandar_ka{
    display: flex;
    padding: 0;
    border: solid grey;
    border-radius: 20px;
    


}
.aandar_ka svg{
    margin: 3px;
}
#user{
    background-color: grey;
    border-radius:30px;
    color: white;
    margin-right: 3px;
}